.nav-top {
    padding: 20px 20px;
    display: flex;
    justify-content: flex-end;
}

.btn {
    border: 0;
    background-color: transparent;
    padding: 12px 30px;
    font-size: 18px;
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-weight: 500;
}

.nav-top .btn:nth-child(2) {
    border-radius: 7px;
    background-color: #66ff66;
    color: #1f1f1f;
    margin-left: 10px;
    font-weight: 600;
}